@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-mono: "Space Mono", monospace;

  @apply bg-neutral-900 text-neutral-100 select-none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  @apply overscroll-none font-mono;
}

.container {
  @apply w-full max-w-xl mx-auto px-4;
}

button,
input {
  @apply focus:outline-none focus:ring-2 focus:ring-neutral-600;
}
